<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong><%= comment.title %></strong>
                    <%= comment.comment %>
                <p>
            </div>
        </div>

        <%= button_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are you sure you want to delete ?"}, class: "button is-danger" %>

    </article>
</div>